.box {
  position: relative;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.provider {
  font-weight: bold;
}

.top {
  display: flex;
}

.collapseButton {
  background-color: gray;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.person {
  text-align: left;
}
